@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-green: #2D5A27;
  --secondary-green: #4A7856;
  --accent-gold: #C5A368;
  --light-bg: #f8faf8;
  
  /* Tambahkan variabel untuk text color */
  --text-primary: #333;
  --text-dark: #111;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
